@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.fade-out {
  animation: fade-out 0.7s cubic-bezier(0.41, 1.08, 0.94, 0.93);
}

@keyframes fade-out {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}