@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Raleway:wght@700&display=swap");

@import "~react-image-gallery/styles/css/image-gallery.css";
@import "./nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-out {
    animation: fade-out 0.7s cubic-bezier(0.41, 1.08, 0.94, 0.93);
}

@keyframes fade-out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
